<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Board</title>
</head>
<body>
    <form method="post" style="display:inline">
        <h3>제목 : </h3><input style="text" name="title" value="{{ title }}"><br>
        <h3>내용 : </h3>
        <textarea name="content" cols="50" rows="30">{{ content }}</textarea><br><br>
        <button style="submit">수정</button>
    </form>
    <form action="remove" method="post" style="display:inline">
        <button style="submit">삭제</button>
    </form>

    <button onclick="location.href='/items/'">리스트</button>
</body>
</html>